# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

# Virtual Environment
venv/
env/
.env

# Distribution / Build
dist/
build/
*.spec
*.egg-info/

# IDE Settings (Optional but recommended)
.vscode/
.idea/

# Logs
*.log
*.ps1
*.txt

# Security Audit Tools & Reports
gitleaks.exe
gitleaks.zip
bandit-report.json
bandit.yaml
*.sarif

